#hudBaño{ 
    height: 100vh;
    z-index: 1;
    background: url(/imgHud/Room2.png) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}