*{
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    margin: 0;
    padding: 0;
    user-select: none;
    position: relative;
}
button{
    cursor: crosshair ;
    background:none;
    border: none;
}
.arrowButton{
    cursor: crosshair ;
    background:none;
    border: none;
    z-index: 3;

    
}
#arrowControl{
    display: flex;
    z-index: 10;
}
body{
    z-index: 0;
    background-color: pink;
    border: 15px solid rgba(0, 0, 0, 0.5);
    min-height: 96vh;
    max-height: 10vh;
}
#hud{
    display: flex;
    flex-direction: row;
}
.arrow{
    height: 100%;
    z-index: 3;
}
#arrowTwo:hover{
    content: url(/imgHud/puerpleArrow.png);
    animation-name: arrowHover ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#arrowOne:hover{
    content: url(/imgHud/puerpleArrowR.png);
    animation-name: arrowHover ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hudPrin{
    height: 100vh;
    z-index: 1;
    background: url(/imgHud/Room0.png) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}
#prota{
    z-index: 1;
    display: flex;
    justify-content: center;
    min-height: 80px;
    width: auto;
    margin: auto;
    bottom: 70vh;
}
#flechas{
    height: 100px;
    z-index: 3;
    display: flex;
    flex-direction: space-between;
    gap: 80%;
    padding-left: 4%;
    bottom: 115vh;
}